/* Colors and fonts */
body{
    background:rgb(185, 233, 198);
    color: #384fa3;
    font-family: 'Lora', serif;
    font-size: 20px;
    font-weight: lighter;
}
h1, h2, h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    color: rgb(182, 0, 0);
    font-size: 45px;
    font-weight: 900;
}
h2{
    color: #00420f;
    font-weight: lighter;
    font-weight: 500;
}
a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Custom design with class*/
.container{
    width: 700px;
    margin: 40px auto;
}
.card-white {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}